<h2>List of styles</h2>

<div class="list-group">
  <% @styles.each do |style| %>
    <a> <%= link_to style.name, style, { class:"list-group-item list-group-item-action" } %></a>
  <% end %>
</div>

<%= link_to 'New Style', new_style_path, class:"btn btn-primary" %>